﻿@using System.Security.Claims
@using DataAccessLayerAbstraction.MarketData.Mapping.CmsUserClasses
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    var userIdentity = (ClaimsIdentity)User.Identity;
    string role = userIdentity.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role)?.Value;

    CmsUserType? userType = null;

    string bodyBackgroundImageUrlStyle = string.Empty;

    if (ViewData.TryGetValue("bodyBackgroundImageUrl", out object backgroundImg))
    {
        bodyBackgroundImageUrlStyle = $"background: url({Url.Content(backgroundImg.ToString())}) no-repeat center center fixed; background-size: cover;";
    }

    if (Enum.TryParse(role, out CmsUserType userTypeEnum))
    {
        userType = userTypeEnum;
    }

    if (userType.HasValue)
    {
        <head>
            <link rel="stylesheet" href="~/dist/css/cms-main-menu.min.css">

            <script src="~/dist/js/cms-main-menu.min.js"></script>
        </head>

        <body id="site-body" style="@bodyBackgroundImageUrlStyle">
            <div Id="cms-main-menu" class="unselectable">
                <div id="main-menu-header">
                    <div>
                        <div class="main-menu-header-title">BOOST MARKET <span class="mmh-span"> CMS</span></div>
                    </div>
                    <div class="or-spacer-header">
                        <div class="mask"></div>
                    </div>
                </div>

                <div id="main-menu-section">
                    @switch (userType)
                    {
                        case CmsUserType.Booster:
                            {
                                @await Html.PartialAsync("MainMenuSections/_BoosterMainMenu")
                            }
                            break;
                        case CmsUserType.Manager:
                            {
                                @await Html.PartialAsync("MainMenuSections/_ManageMainMenu")
                            }
                            break;
                        case CmsUserType.Admin:
                            {
                                @await Html.PartialAsync("MainMenuSections/_AdminMainMenu")
                            }
                            break;
                        case CmsUserType.SuperAdmin:
                            {
                                @await Html.PartialAsync("MainMenuSections/_SuperAdminMainMenu")
                            }
                            break;
                    }
                </div>

                <div class="or-spacer-header">
                    <div class="mask"></div>
                </div>

                <div id="main-menu-footer">
                    <button id="sign-out-btn" data-url-action="@Url.Action("SignOut","Authorization")" type="button" class="btn waves-effect"><i class="fas fa-sign-out-alt"></i> @Localizer["Exit"]</button>
                </div>
            </div>

            <div class="or-spacer-vertical left">
                <div class="mask"></div>
            </div>
        </body>
    }
}
