﻿@{
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title>LoLBoostMarketCMS</title>

        <link rel="stylesheet" href="~/libs/fontawesome-free-5.13.0-web/all.min.css">
        <link rel="stylesheet" href="~/libs/bootstrap/bootstrap.css">
        <link rel="stylesheet" href="~/libs/fancybox/jquery.fancybox.css">
        <link rel="stylesheet" href="~/libs/alertify/alertify.css">
        <link rel="stylesheet" href="~/libs/mdb/mdb.css">
        <link rel="stylesheet" href="~/dist/css/layout.min.css">

        <script src="~/libs/jqery/jquery-3.5.1.js"></script>
        <script src="~/libs/bootstrap/bootstrap.js"></script>
        <script src="~/libs/fancybox/jquery.fancybox.js"></script>
        <script src="~/libs/alertify/alertify.js"></script>
        <script src="~/libs/mdb/mdb.js"></script>
        <script src="~/libs/popper/popper.min.js"></script>
        <script src="~/dist/js/layout.min.js"></script>
    </head>

    @await Html.PartialAsync("~/Views/GlobalSettings/_GlobalSettings.cshtml")

    if (@Context.User.Identity.IsAuthenticated)
    {
        @await Html.PartialAsync("_CmsMainMenu")
    }

    <div id="global-loading-overlay">
        <div id="global-preloader" class="spinner-grow text-white" role="status">
        </div>
    </div>

    <template id="service-data" data-current-page-url="@Context.Request.Path">

    </template>
    @RenderBody()
}
