﻿.custom-fancybox-content {
    padding: 0px;
}

.custom-fancybox-content .fancybox-close-small {
    display: none;
}

#global-loading-overlay {
    display: none;
    opacity: 0;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: rgba(0, 0, 0, 0.42);
    width: 100%;
    height: 100%;
    z-index: 99990;
    transition: all 0.5s;
}

#global-loading-overlay.active {
    display: flex;
    opacity: 1;
}

#global-preloader {
    width: 50px !important;
    height: 50px !important;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.page-content-container {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 60px;
    width: 100%;
    min-height: 100%;
    margin-left: -20px;
    display: flex;
    justify-content: space-between;
}

.page-sides-divider {
    width: 2px;
    background: rgba(0, 0, 71, 0);
    height: 100%;
    margin: 20px;
    box-shadow: 0 0 12px 1px black;
}

.ajs-success {
    background-color: #00c851 !important;
    border-radius: 2px;
    color: #212529;
    font-weight: bold;
    display: flex;
    justify-content: center;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.ajs-message {
    background: #fea31f;
    border-radius: 2px;
    color: #212529;
    font-weight: bold;
    display: flex;
    justify-content: center;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.alertify-notifier {
    z-index: 99995 !important;
}

.pop-tooltip {
    text-align: center;
    display: none;
    background: #333;
    color: white;
    font-weight: bold;
    padding: 4px 8px;
    font-size: 13px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px -2px rgb(254, 163, 31);
    z-index: 1000
}

.pop-tooltip[data-show] {
        display: block;
}

.arrow,
.arrow::before {
    position: absolute;
    width: 8px;
    height: 8px;
    z-index: 999;

}

.arrow::before {
    content: '';
    transform: rotate(45deg);
    background: #333;
    z-index: 999;
}

.pop-tooltip[data-popper-placement^='top'] > .arrow {
    bottom: -4px;
}

.pop-tooltip[data-popper-placement^='bottom'] > .arrow {
    top: -4px;
}

.pop-tooltip[data-popper-placement^='left'] > .arrow {
    right: -4px;
}

.pop-tooltip[data-popper-placement^='right'] > .arrow {
    left: -4px;
}

.input-prefix {
    position: absolute;
    bottom: 7px;
    font-size: 25px;
    left: 3px;
}

.cinput {
    max-width: calc(100% - 37px) !important;
    padding-left: 35px !important;
    color: #FFF !important;
}

.input-err input {
    border-bottom: 1px solid #ff3547 !important;
    box-shadow: 0 1px 0 0 #ff3547 !important;
}

.input-err input + label {
    color: #ff3547 !important
}

.input-err .input-prefix {
    color: #ff3547 !important
}