﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<link rel="stylesheet" href="~/dist/css/global-settings.min.css">
<script src="~/dist/js/global-settings.min.js"></script>

<div id="global-settings-btn" data-href="@Url.Action("GetSettingsWindowModal","GlobalSettings")">
    <button id="global-settings-layout" class="btn">@Localizer["Settings"] </button>
    <i id="global-settings-icon" class="fas fa-cogs"></i>
</div>
