﻿@using LoLBoostMarketCMS.Settings
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer
@inject IOptions<LocalizationSettings> LocOptions
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var currentLanguage = requestCulture.RequestCulture.Culture.Name;
}

<div id="language-settings-container">
    <div class="languages-part">
        <div id="languages">
            @{
                foreach (var language in LocOptions.Value.AllSupportedLanguages)
                {
                    <div class="language-item waves-effect @(language.Culture == currentLanguage ? "selected" : string.Empty)" data-culture="@language.Culture">
                        <div class="language-flag">
                            <img src="@Url.Content(language.FlagImgUrl)" />
                        </div>
                        <div class="language-name">@language.LanguageName</div>
                    </div>
                }
            }
        </div>
    </div>

    <div class="language-settings-footer">
        <button id="save-language-btn" data-href="@Url.Action("ChangeLanguage","GlobalSettings")" class="btn blue-gradient waves-effect">@Localizer["Save"]</button>
    </div>
</div>
