﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div id="settings-window" class="custom-fancybox-content">
    <div class="stw-header">
        <i id="stw-header-icon" class="fas fa-cogs"></i>
        <div class="stw-title">@Localizer["Settings"]</div>
        <i id="stw-close-btn" class="fas fa-times"></i>
    </div>

    <div class="or-spacer">
        <div class="mask"></div>
    </div>

    <div class="stw-body">
        <div id="stw-tab-control">
            <div class="stw-tab-item active" data-tab-index="0">
                <i class="swt-tab-item-icon fas fa-globe"></i>
                <div class="swt-tab-item-text">@Localizer["Language"]</div>
            </div>

        </div>

        <div class="or-spacer-vertical left">
            <div class="mask"></div>
        </div>

        <div id="stw-tab-content">
            <div class="stw-tab-content active" data-tab-index="0">
                @await Html.PartialAsync("_LanguageSettings")
            </div>
        </div>
    </div>
</div>