﻿.cmsue-title {
    color: #fea31f;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    text-shadow: #000 1px 0 10px;
}

.cmsue-row {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    padding-bottom: 3px;
    padding-top: 3px;
}

.cmsue-profile-img-container i {
    color: #fff;
    font-size: 23px;
}

.cmsue-profile-img-container {
    position: absolute;
    top: -20px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    cursor: pointer;
    border-radius: 100%;
    background: #2f2626;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    box-shadow: 0px 0px 10px -2px rgb(254, 163, 31);
}

.cmsue-profile-img-container:hover {
     box-shadow: 0px 0px 11px 0px rgb(227, 221, 233);
}

.cmsue-user-id-title {
    color: #fea327;
    font-weight: bold;
    text-shadow: #060606 1px 0 10px;
}

.cmsue-user-id-value {
    color: #fff;
    padding-left: 5px;
    max-width: 300px;
    overflow-wrap: anywhere;
}

.cmsue-user-id {
    position: relative;
    display: flex;
    padding-left: 10px;
    align-items: center;
}

.copy-to-clip-board {
    position: absolute;
    right: 25px;
    font-size: 20px;
    color: #fea31f;
    text-shadow: #060606 1px 0 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.copy-to-clip-board:hover {
    color:  #eaeaea;
    text-shadow: #fea31f 1px 0 10px;
}

.edit-user-name-btn {
    position: absolute;
    right: 8px;
    font-size: 14px;
    color: #fea31f;
    text-shadow: #060606 1px 0 10px;
    cursor: pointer;
    transition: all 0.3s;
    padding-bottom: 3px;
}

.edit-user-name-btn:hover {
    color: #eaeaea;
    text-shadow: #fea31f 1px 0 10px;
}

.cmsue-row-divider {
    margin-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.cmsue-user-name-title {
    color: #fea327;
    font-weight: bold;
    text-shadow: #060606 1px 0 10px;
}

.cmsue-user-name-value {
    color: #fff;
    padding-left: 5px;
}

.user-default-data-block {
    position: relative;
}

.user-name-data-block {
    position: relative;
    margin-top: 5px !important;
}

.default-email-title {
    color: #fea327;
    font-weight: bold;
    text-shadow: #060606 1px 0 10px;
}

.default-email-value {
    color: #fff;
    padding-left: 5px;
}

#default-email-block {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

.edit-default-email-btn {
    font-size: 14px;
    color: #fea31f;
    text-shadow: #060606 1px 0 10px;
    cursor: pointer;
    transition: all 0.3s;
    padding-bottom: 3px;
}

.edit-default-email-btn:hover {
    color:  #eaeaea;
    text-shadow: #fea31f 1px 0 10px;
}

.disable-icon {
    cursor: default;
    color: #ffffff73 !important;
    text-shadow: #ffffff73 1px 0 10px;
}

.disable-icon:hover {
    color: #ffffff73 !important;
    text-shadow: #ffffff73 1px 0 10px;
}

#edit-default-email-tooltip .email-timeot-timer {
    padding-left: 0 !important;
}

.default-email-buttons {
    display: flex;
    position: absolute;
    right: -2px;
    align-items: center;
}

#email-confirmed-status {
    color: #F44336;
    text-shadow: #060606 1px 0 10px;
    padding-right: 10px;
    margin-bottom: 3px;
}

#email-confirmed-status:hover {
    text-shadow: rgb(227, 221, 233) 1px 0 10px;
}

.row-wrapper {
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.29);
    margin: 10px 15px 0px 15px;
    padding: 5px 10px 5px 10px;
}

.cmsue-row-divider-second {
    margin-top: 20px;
}

.connect-servicer-block-control {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 7px;
    padding-bottom: 7px;
}

.connect-service-left-part-header {
    color: #fff;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.connect-service-icon {
    margin-left: 5px;
    font-size: 20px;
}

.connect-service-left-part-title {
    margin-left: 7px;
}
.connect-service-left-part-title2 {
    margin-left: 9px;
}


.connect-service-text {
    color: #4CAF50;
    margin-left: 5px;
    font-weight: bold;
}

.connect-btn {
    padding: 10px 15px;
    font-weight: bold;
    background-color: #009c3f !important;
    min-width: 130px;
}

.disconnect-btn {
    padding: 10px 15px;
    font-weight: bold;
    min-width: 130px;
    background-color: #cc3e33 !important;
}

.connect-btn:hover,
.disconnect-btn:hover{
    box-shadow: 0px 0px 10px -2px rgb(255, 255, 255);
}

.content-block {
    background: rgba(0, 0, 0, 0.43);
    box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
    min-width: 550px;
    min-height: 400px;
}

.not-service-text {
    color: #f44336;
    margin-left: 5px;
    font-weight: bold;
}

.google-row {
    margin-top: 5px !important;
}

.cmsue-footer-btn-block {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

#change-password-btn {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    min-width: 140px;
    margin-bottom: 22px;
    display: flex;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    background: linear-gradient(40deg, #4a4449, #2a1e2a) !important;
    padding: 12px 15px;
    border-radius: 3px;
    box-shadow: #060606 1px 0 10px -5px;
}

#change-password-btn:hover {
    box-shadow: 0px 0px 10px -2px rgb(254, 163, 31);
}

#change-password-btn i {
    margin-right: 5px;
}

.last-divider {
    margin-top: 25px;
}

.confirmed {
    color: #009c3f !important;
}

#confirm-email-btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: -5px;
}

.confirm-email-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

#confirm-email-btn {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    min-width: 140px;
    display: flex;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    background: linear-gradient(40deg, #4a4449, #2a1e2a) !important;
    border-radius: 3px;
    box-shadow: #060606 1px 0 10px -5px;
    margin-bottom: 3px;
    margin-top: 7px;
    padding-top: 12px;
    padding-bottom: 12px;
}

#confirm-email-btn:hover {
 box-shadow: 0px 0px 10px -2px rgb(254, 163, 31);
}

.gmail-value-block {
    display: flex;
    align-items: center;
}

#gmail-is-not-confirmed {
    margin-left: 7px;
    color: #cc3e33 !important;
    text-shadow: #060606 1px 0 10px;
}

#gmail-is-not-confirmed:hover {
    text-shadow: rgb(227, 221, 233) 1px 0 10px;
}

.unconfirmed-tip {
    min-width: 250px;
}
.confirmed-tip {
    min-width: 200px;
}

#gmail-tooltip {
    max-width: 250px;
}

.custom-promt {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.66);
    box-shadow: 0px 0px 10px -2px rgb(0, 0, 0);
}

.custom-promt-footer {
    display: flex;
    background: rgba(0, 0, 0, 0.47843137254901963);
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 15px;
    box-shadow: -1px -9px 9px -10px rgb(255, 153, 0);
}

.custom-promt-header {
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.47843137254901963);
    color: #fff;
    font-weight: bold;
    box-shadow: 0px 8px 9px -10px rgb(234, 142, 4);
    align-items: center;
    padding-top: 4px;
    padding-bottom: 4px;
}

.custom-promt-close-btn {
    margin-right: 0 !important;
    cursor: pointer;
    position: absolute;
    right: 10px;
    font-size: 18px;
    color: #fea31f;
    text-shadow: #060606 1px 0 10px;
}

.custom-promt-close-btn:hover {
    color: #eaeaea;
    text-shadow: #fea31f 1px 0 10px;
}

.custom-promt-header i {
    margin-right: 7px;
    color: #fea31f;
}

.cmsue-user-name-title i {
    margin-right: 7px;
}
.default-email-title i {
    margin-right: 11px;
}

.promt-container {
    display: none; 
}

.promt-inner-container {
    min-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.custom-promt-icon {
    font-size: 18px;
}

.md-form label {
    padding-left: 37px;
}
.fa-signature.input-prefix {
    font-size: 20px;
}

.md-form input[type="text"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="password"]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid #fea31f;
    box-shadow: 0 1px 0 0 #fea31f;
}

.md-form input[type="text"]:not(.browser-default):focus:not([readonly]) + label,
.md-form input[type="password"]:not(.browser-default):focus:not([readonly]) + label {
    padding-left: 37px;
    color: #fea31f;
}

.md-form i {
    color: #fea31f;
    padding-bottom: 7px;
    font-size: 23px;
}

.custom-promt-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
}

.fixed-width-input {
    width: 300px;
}

.change-user-name-promt .custom-promt-body,
.change-email-promt .custom-promt-body {
    height: 180px;
    padding-top: 10px;
}

.change-password-promt .custom-promt-body {
    padding-top: 0.5rem;
    padding-bottom: 2.3rem;
    height: 210px;
}

.custom-promt-btn {
    background-color: #ffffff40 !important;
    color: #fff;
}

.custom-promt-btn:hover {
    box-shadow: 0px 0px 10px -2px rgb(254, 163, 31);
    color: #fea31f;
}

#promt-cancel {
    background-color: rgba(204, 62, 51, 0.4392156862745098) !important;
}

.change-password-promt .md-form {
    margin-bottom: unset;
}

#ews-icon {
    padding-right: 8px;
    font-size: 21px;
    color: #d4c332;
}

.email-timeot-timer {
    padding-left: 10px;
    color: #d4c332;
}

#ews-tooltip {
    margin: 0px;
    max-width: 300px !important;
    text-transform: none !important;
    opacity: 1 !important;
}

.inactive-btn {
    opacity: 0.7;
}

.email-resotore-value {
    color: #009c3f !important;
}

#change-image-description {
    display: flex;
    color: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fea31f;
    text-shadow: #000 1px 0 10px;
    padding: 15px;
    height: 394px;
}

.help-image-text {
    text-align: center;
    color: #00aeff;
    text-shadow: #000 1px 0 10px;
    max-width: 410px;
}

#select-new-image-btn {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    min-width: 140px;
    display: flex;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    background: linear-gradient(40deg, #416c42c2, #17292dbf);
    padding: 12px 15px;
    border-radius: 3px;
    box-shadow: #060606 1px 0 10px -5px;
}

#select-new-image-btn i {
    padding-right: 7px;
    font-size: 21px;
    color: #ef9e24;
}

#select-new-image-btn:hover {
    box-shadow: 0px 0px 10px -2px rgb(62, 226, 98);
}

#change-image-description .fa-image {
    font-size: 75px;
    padding-bottom: 10px;
}

#change-user-image-window {
    width: 750px;
}

#image-editor-container {
    margin-top: 35px;
    margin-bottom: 10px;
}

.croppie-container .cr-viewport, .croppie-container .cr-resizer {
    border-color: #fea31f !important;
}

.cr-boundary {
    background: #0f20257d;
}

#image-input {
    display: none;
}

#image-editor-container {
    display: none;
}

.cmsue-profile-img-container img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

#cms-user-profile-editor {
    position: relative;
}

.user-editor-header {
    display: flex;
    justify-content: space-between;
    padding: 0 29px;
    margin-bottom: 25px;
    padding-top: 15px;
    align-items: center;
}

.cms-user-status-block {
    display: flex;
}

.status-value {
    font-weight: bold;
    color: #FFEB3B;
    padding-left: 5px;
}

.status-title {
    color: #FF9800;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: #000 1px 0 10px;
}

.status-value {
    font-weight: bold;
    color: #FFEB3B;
    text-shadow: #000 1px 0 10px;
}

.cms-user-status-block {
    font-size: 15px;
}