﻿body {
    width: 100%;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../../../img/UserProfile/vrifi-result-background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.btn.btn-deep-orange {
    color: black !important;
}

.card {
    background-color: rgba(0, 0, 0, 0.44) !important;
    max-width: 550px;
    box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
}

.page-content-container {
    justify-content: center;
    align-items: center;
}

#cms-main-menu {
    height: 100%;
}

.help {
    color: #00aeff;
    text-shadow: #000 1px 0 10px;
    font-size: 12px;
}

.red-text {
    font-size: 25px;
    color: #f44336 !important;
    text-shadow: #000000 0px 0px 12px;
}

.card-title {
    font-size: 20px;
}

.card-title strong {
    color: #fea31f;
}

#to-home-btn {
    min-width: 150px;
    background: linear-gradient(40deg, #132527, #66b5af) !important;
    color: #fff !important;
}

#to-home-btn:hover {
    box-shadow: 0px 0px 10px -2px rgb(0, 174, 255);
}

.align-items-center {
    padding-left: 40px !important;
    padding-right: 40px !important;
}

.green-text {
    font-size: 26px;
    padding-bottom: 25px;
    text-shadow: #000000 0px 0px 12px;
}