﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content" style="width: 100%; display: flex; justify-content: center; align-items: center">
    <H1>User manager</H1>
</div>

