﻿#site-body {
    display: flex;
}

#cms-main-menu {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.43);
    min-width: 300px;
    min-height: 100%;
}

#main-menu-section {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.or-spacer-header {
    width: 100%;
    position: relative;
}

.or-spacer-header .mask {
    overflow: hidden;
    height: 20px;
}

.or-spacer-header .mask:after {
    content: "";
    display: block;
    margin: -25px auto 0;
    width: 100%;
    height: 25px;
    border-radius: 125px / 12px;
    box-shadow: 0 0 13px #fea31f;
}

.main-menu-header-title {
    color: #fff;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 20px;
    text-shadow: #000 1px 0 10px;
}

.mmh-span {
    color: #fea31f;
    margin-left: 6px;
}

#main-menu-footer {
    margin-top: -20px;
    display: flex;
    justify-content: center;
}

#sign-out-btn {
    min-width: 140px;
    margin-top: 20px;
    margin-bottom: 15px;
    display: flex;
    color: #15181b;
    align-items: center;
    justify-content: center;
    background: linear-gradient(40deg, #ff572263, #de8400) !important;
}

#sign-out-btn:hover {
   box-shadow: 0px 0px 10px -2px rgb(254, 163, 31);
    color: #fff;
}

#sign-out-btn .fa-sign-out-alt {
    transform: rotate(180deg);
    padding-left: 6px;
    font-size: 16px;
}

.main-menu-item {
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    color: #fff;
    padding: 14px 15px 13px 16px;
    line-height: 20px;
    box-sizing: border-box;
    margin-left: 4px;
}

.main-menu-item:hover {
    background: linear-gradient(40deg, #ff572200, #ff980052) !important;
}


.main-menu-item.active:hover {
    background: linear-gradient(40deg, #ff572200, #ff980052) !important;
}

.main-menu-item.active {
    margin-left: unset;
    border-left: 4px solid transparent;
    color: #fea31f;
    cursor: default;
    background: rgba(0, 0, 0, 0.22);
    background: linear-gradient(40deg, #ff572200, #ff980052) !important;
    border-left: 4px solid transparent;
}

.main-menu-item-icon {
    font-size: 20px;
    margin-right: 11px;
}

.main-menu-item-icon.fixed-icon{
    margin-left: -4px;
    margin-right: 8px;
}