﻿body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: none, sans-serif;
    font-weight: 300;
    background: url("../../../img/Authorization/auth-background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.green-text {
   color: #fea31f !important;
}

.rememberUserCheck{
    padding-left: 30px !important;
}

.btn-danger.btn-danger {
    background-color: #dd4b39 !important;
}

.btn-rounded {
    color: #212529;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fea31f !important;
}

.btn-rounded:focus {
    color: #FFF !important
}

.fa-sign-in-alt{
    padding-right: 5px;
    font-size: 20px;
}

.fa-google {
    font-size: 17px;
    padding-right: 5px;
}

.md-form input[type="text"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="password"]:not(.browser-default):focus:not([readonly]){
    border-bottom: 1px solid #fea31f;
    box-shadow: 0 1px 0 0 #fea31f;
}

.md-form input[type="text"]:not(.browser-default):focus:not([readonly]) + label,
.md-form input[type="password"]:not(.browser-default):focus:not([readonly]) + label{
    padding-left: 37px;
    color: #fea31f;
}

.input-prefix.active {
    color: #fea31f;
}


.card .md-form label {
    padding-left: 37px;
}

.card-image {
    background: rgba(0, 0, 0, 0.23);
}

.input_checkbox_list {
    position: relative;
}

#login-form {
    width: 432px;
    position: relative;
}

#owelay {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: rgba(0, 0, 0, 0.42);
    width: 100%;
    height: 100%;
    z-index: 99990;
}

.spinner-grow {
    width: 50px;
    height: 50px;
}

.form-check {
    display: flex !important;
    justify-content: center !important;
    margin-left: -15px !important;
}

.input-checkbox {
    background: none !important;
    cursor: pointer;
    position: absolute;
    left: -9999px;
    opacity: 0;
}

.input-checkbox:not(.filled-in):checked + label::before,
.input-checkbox:not(.filled-in):checked + label::after {
    cursor: pointer;
    background: none;
    top: -4px;
    left: -5px;
    width: 12px;
    height: 22px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #fea31f;
    border-bottom: 2px solid #fea31f;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.input-checkbox + label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1rem;
    font-weight: 400;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.input-checkbox + label::before,
.input-checkbox + label::after {
    cursor: pointer;
    content: "";
    background: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 2px solid #fea31f;
    border-radius: 1px;
    margin-top: 2px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

@media(max-width: 450px) {
    #login-form {
        width: 90%;
        position: relative;
    }
}