﻿body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../../../img/Authorization/auth-err-background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.btn.btn-deep-orange {
    color: black !important;
}

.card {
    background-color: rgba(0, 0, 0, 0.44) !important;
}