﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div id="change-user-image-window" 
     class="custom-fancybox-content custom-promt custom-fancybox-content unselectable"
     style="background: url(@Url.Content("img/PromtsBackgrounds/promt-background4.jpg")) no-repeat center center; background-size: 140%; display: inline-block;">
    <div class="promt-inner-container">
        <div class="custom-promt-header">
            <div class="custom-promt-icon">
                <i class="far fa-image"></i>
            </div>
            <div class="custom-promt-h-title">@Localizer["AvatarChange"]</div>
            <i class="custom-promt-close-btn fas fa-times"></i>
        </div>

        <div class="custom-promt-body">
            <div id="change-image-description">
                <i class="fas fa-image"></i>
                 @Localizer["YouCanUploadImageText"]"
                <div class="help-image-text">@Localizer["UploadImageDescriptionText"]</div>
            </div>

            <div id="image-editor-container">
                <input type="file" id="image-input" accept="image/x-png,image/gif,image/jpeg">
            </div>

            <div id="select-new-image-btn"><i class="fas fa-file-upload"></i>@Localizer["UploadImage"]</div>
        </div>

        <div class="custom-promt-footer">
            <button data-href="@Url.Action("ChangeProfileImage")" id="save-new-image-btn" class="btn connect-btn waves-effect waves-light custom-promt-btn">@Localizer["Save"]</button>
            <button id="promt-cancel" class="btn disconnect-btn waves-effect waves-light custom-promt-btn">@Localizer["Cancel"]</button>
        </div>
    </div>
</div>