﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model (string userId, string randomToken)
<!--[if gte mso 9]>
    <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="mso-width-percent:1000;">
    <v:fill type="frame" src="https://media.discordapp.net/attachments/507676159278972977/717509220936843354/bea7bd02524a4440ff49f40f43e72d8e.jpg?width=1260&height=677"color="#7bceeb" />
    <v:textbox style="mso-fit-shape-to-text:true" inset="0,0,0,0">
<![endif]-->

<table border="0" align="center" cellpadding="0" cellspacing="0" style="table-layout:fixed;border-collapse:separate;width:100%; min-width: 100%;min-height: 700px;">
    <tbody>
        <tr>
            <td align="center" style="border-collapse: separate; table-layout: fixed; background-repeat:no-repeat; background-size:cover;" background="https://media.discordapp.net/attachments/507676159278972977/717509220936843354/bea7bd02524a4440ff49f40f43e72d8e.jpg?width=1260&height=677">
                <table border="0" align="center" cellpadding="0" cellspacing="0" width="600" style="z-index: 200; width: 600px; table-layout: fixed; border-collapse: separate; min-width: 600px;background: #0000006e;">
                    <tbody>
                        <tr>
                            <td>

                                <table border="0" align="center" cellpadding="0" cellspacing="0" style="table-layout: fixed; border-collapse: separate; width: 100%; min-width: 100%; background: #0000006e;">
                                    <tbody>
                                        <tr>
                                            <td style="text-align: center; font-size: 20px; color: #fff; font-weight: bolder; box-shadow: 0px 8px 9px -10px rgb(234, 142, 4); align-items: center; padding-top: 15px; padding-bottom: 15px; text-shadow: #000 1px 0 10px;">
                                                BOOST MARKET<strong style="color: #fea31f; padding-left: 6px;">CMS</strong>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>


                                <table border="0" align="center" cellpadding="0" cellspacing="0" style="table-layout: fixed; border-collapse: separate; width: 100%; min-width: 100%">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <table border="0" align="center" cellpadding="0" cellspacing="0" style="table-layout: fixed; border-collapse: separate; width: 100%; min-width: 100%">
                                                    <tbody>
                                                        <tr>
                                                            <td style="color: #FF9800; text-align: center; font-weight: bold; text-shadow: #000 1px 0 10px; padding-top: 25px; padding-bottom: 25px; font-size: 20px;">
                                                                @Localizer["MailConfirmation"]
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                                <table border="0" align="center" cellpadding="0" cellspacing="0" style="table-layout: fixed; border-collapse: separate; width: 100%; min-width: 100%">
                                                    <tbody>
                                                        <tr>
                                                            <td style="color: #fff; text-shadow: #000 1px 0 10px; font-size: 17px; text-align: center; padding: 30px; padding-top: 0px; padding-bottom: 10px; padding-bottom: 40px;">
                                                                @Localizer["CFMMessage1"] <strong style="color: #fea31f;"> BOOST MARKET</strong>, @Localizer["CFMMessage2"]
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>


                                <table border="0" align="center" cellpadding="0" cellspacing="0" style="table-layout: fixed; border-collapse: separate; width: 100%; min-width: 100%; background: #0000006e;">
                                    <tbody>
                                        <tr>
                                            <td style="box-shadow: 0px -8px 9px -10px rgb(234, 142, 4); padding-bottom: 25px; padding-top: 20px;">
                                                <table border="0" align="center" cellpadding="0" cellspacing="0" style="table-layout: fixed; border-collapse: separate; width: 100%; min-width: 100%">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <a style="max-width: fit-content;margin: 0 auto;
                                                                   font-weight: bold;
                                                                   text-transform: uppercase;
                                                                   cursor: pointer;
                                                                   min-width: 140px;
                                                                   display: block;
                                                                   color: #ffffff ;
                                                                   justify-content: center;
                                                                   border-radius: 3px;
                                                                   box-shadow: #060606 1px 0 10px -5px;
                                                                   padding: 13px 10px;
                                                                   text-decoration: none;
                                                                   text-align: center;
                                                                   background: linear-gradient(40deg, #ff572263, #de8400);
                                                                   transition: all 0.5s;
                                                                   border: solid 1px #1a0e0a;"
                                                                   class="confirm-btn"
                                                                   href="@Url.Action("VerifyEmailByToken", "UserProfile", new {userId = Model.userId, token = Model.randomToken }, "https", Context.Request.Host.Value)">@Localizer["Confirm"]</a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>

<!--[if gte mso 9]>
    </v:textbox>
    </v:rect>
<![endif]-->
