﻿@using LoLBoostMarketCMS.Settings.ControllersSettings
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@model DataAccessLayerAbstraction.MarketData.Mapping.CmsUser
@inject IViewLocalizer Localizer
@inject IOptions<UserProfileControllerSettings> Settings

@{
    bool isMessageUp = false;
    int TimeOutInSecond = 0;
    bool IsTimeOut = false;

    if (Model.DefaultEmail.LastVerificationEmailDateTime != null)
    {
        isMessageUp = Model.DefaultEmail.LastVerificationEmailDateTime.Value.AddMinutes(Settings.Value.EditCmsUserSettings.VerifyEmailTokenLifeTimeInMinutes).Ticks >= DateTime.UtcNow.Ticks;
        TimeOutInSecond = Convert.ToInt32(TimeSpan.FromTicks(Model.DefaultEmail.LastVerificationEmailDateTime.Value.AddSeconds(Settings.Value.EditCmsUserSettings.VerifyEmailTimeOutInSeconds).Ticks - DateTime.UtcNow.Ticks).TotalSeconds);
        IsTimeOut = TimeOutInSecond > 0;
    }
}

<div id="cms-user-profile-editor" class="content-block unselectable">
    <div data-href="@Url.Action("GetChangeUserImageModal")" class="cmsue-profile-img-container">
        @if (string.IsNullOrEmpty(Model.ProfileImageUrl))
        {
            <i class="fas fa-user-plus"></i>
        }
        else
        {
            <img id="user-avatar" src="@($"{Model.ProfileImageUrl}?{DateTime.Now}")">
        }
    </div>

    <div class="user-editor-header">
        <div class="cmsue-title">@Localizer["CmsProfile"]</div>

        <div class="cms-user-status-block">
            <div class="status-title">Status :</div>
            <div class="status-value">@Model.CmsUserType.ToString()</div>
        </div>
    </div>

    <div class="cmsue-row user-default-data-block">
        <div class="cmsue-user-id">
            <div class="cmsue-user-id-title">User id :</div>
            <div id="cms-user-id" class="cmsue-user-id-value">@Model.Id</div>
        </div>

        <div class="copy-to-clip-board">
            <i class="fas fa-copy"></i>
        </div>
    </div>

    <div class="cmsue-row-divider">
        <div class="or-spacer-header">
            <div class="mask"></div>
        </div>
    </div>

    <div class="cmsue-row user-name-data-block  row-wrapper">
        <div class="cmsue-user-name-title"><i class="fas fa-signature"></i>@Localizer["UserName"] :</div>
        <div class="cmsue-user-name-value">@(string.IsNullOrEmpty(Model.Name) ? Localizer["NotSet"].Value : Model.Name)</div>
        <div class="edit-user-name-btn">
            <i class="fas fa-edit"></i>
        </div>
    </div>

    <div class="cmsue-row  row-wrapper">
        <div id="default-email-block">
            <div class="default-email-title"><i class="fas fa-envelope"></i>Email :</div>

            <div class="default-email-value">
                @(string.IsNullOrEmpty(Model.DefaultEmail.Email) ? Localizer["NotSet"].Value : Model.DefaultEmail.Email.ToLower())
            </div>

            <div class="default-email-buttons">
                @if (Model.DefaultEmail.IsEmailConfirmed == false)
                {
                    <div id="email-confirmed-status" aria-describedby="tooltip" class="unconfirmed">
                        <i class="fas fa-exclamation-circle"></i>
                    </div>

                    <div id="email-tooltip" class="pop-tooltip unconfirmed-tip" role="tooltip">
                        @Localizer["EmailUnconfirmedTooltip"]
                        <div class="arrow" data-popper-arrow></div>
                    </div>
                }
                else
                {
                    <div id="email-confirmed-status" class="confirmed">
                        <i class="fas fa-check-circle"></i>
                    </div>

                    <div id="email-tooltip" class="pop-tooltip confirmed-tip" role="tooltip">
                        @Localizer["EmailVerifiedTooltip"]
                        <div class="arrow" data-popper-arrow></div>
                    </div>
                }

                <div id="edit-default-email" class="edit-default-email-btn @(IsTimeOut ? "disable-icon" : string.Empty)">
                    <i class="fas fa-edit"></i>
                </div>
            </div>
        </div>
    </div>

    @if (Model.DefaultEmail.IsEmailConfirmed == false)
    {
        <div class="confirm-email-btn-container">
            <button data-href="@Url.Action("ConfirmEmail")" id="confirm-email-btn" class="btn btn-success @(IsTimeOut?"inactive-btn":string.Empty)">
                @if (isMessageUp)
                {
                    <i id="ews-icon" class="fas fa-exclamation-circle"></i>

                    @Localizer["SendAgain"]

                    if (IsTimeOut)
                    {
                        <div class="email-timeot-timer">(@TimeOutInSecond)</div>
                    }
                }
                else
                {
                    @Localizer["ConfirmEmail"]
                }
            </button>
        </div>
    }

    @if (isMessageUp)
    {
        <div id="ews-tooltip" class="pop-tooltip unconfirmed-tip" role="tooltip">
            @Localizer["MessageWasSendOnYouEmail"] (<span class="email-resotore-value">@Model.DefaultEmail.Email.ToLower()</span>) , @Localizer["AndStillValid"]
            <div class="arrow" data-popper-arrow></div>
        </div>

        <div id="edit-default-email-tooltip" class="pop-tooltip unconfirmed-tip" role="tooltip">
            @Localizer["BeforeChangingYourEmailWait"] <span class="email-timeot-timer">(@TimeOutInSecond)</span> @Localizer["Seconds"].
            <div class="arrow" data-popper-arrow></div>
        </div>
    }

    @if (IsTimeOut)
    {
        <div data-timeout-value="@TimeOutInSecond" id="email-timeot-value" style="display:none"></div>
    }

    <div class="cmsue-row-divider cmsue-row-divider-second">
        <div class="or-spacer-header">
            <div class="mask"></div>
        </div>
    </div>

    <div class="cmsue-row row-wrapper google-row">
        <div class="connect-servicer-block-control">

            <div class="connect-service-left-part">
                <div class="connect-service-left-part-header">
                    <div class="connect-service-icon">
                        <i class="fab fa-google"></i>
                    </div>

                    <div class="connect-service-left-part-title">
                        Google
                    </div>
                </div>

                <div class="@((Model?.GoogleData?.IsGoogleConnected) == true && (Model?.GoogleData?.IsGMailVerified) == true? "connect-service-text" : "not-service-text")">
                    @{
                        if ((Model?.GoogleData?.IsGoogleConnected) == true)
                        {
                            <div class="gmail-value-block">
                                @(Model.GoogleData.GMail.ToLower())

                                @if ((Model?.GoogleData?.IsGMailVerified) == false)
                                {
                                    <div id="gmail-is-not-confirmed" class="unconfirmed">
                                        <i class="fas fa-exclamation-circle"></i>
                                    </div>

                                    <div id="gmail-tooltip" class="pop-tooltip unconfirmed-tip" role="tooltip">
                                        @Localizer["GmailNotConfirmedTooltip"]
                                        <div class="arrow" data-popper-arrow></div>
                                    </div>
                                }
                            </div>
                        }
                        else
                        {
                            @Localizer["NotConnected"]
                        }
                    }
                </div>
            </div>

            <div class="connect-service-buttons">
                @if ((Model?.GoogleData?.IsGoogleConnected) == true)
                {
                    <button id="disconnect-google-btn" data-href="@Url.Action("DisconnectGoogle")" class="btn btn-danger disconnect-btn">@Localizer["Disconnect"]</button>
                }
                else
                {
                    <button id="connect-google-btn" data-href="@Url.Action("ConnectGoogle")" class="btn btn-success connect-btn">@Localizer["Connect"]</button>
                }
            </div>
        </div>
    </div>

    <div class="cmsue-row row-wrapper">
        <div class="connect-servicer-block-control user-editor-block-control">
            <div class="connect-service-left-part">

                <div class="connect-service-left-part-header">
                    <div class="connect-service-icon">
                        <i class="fab fa-discord"></i>
                    </div>

                    <div class="connect-service-left-part-title2">
                        Discord
                    </div>
                </div>

                <div class="@(Model.IsDiscordConnected ? "connect-service-text" :  "not-service-text")">
                    @(Model.IsDiscordConnected ? Model.DiscordTag : Localizer["NotConnected"].Value)
                </div>
            </div>

            <div class="connect-service-buttons">
                @if (Model.IsDiscordConnected)
                {
                    <button id="disconnect-discord-btn" class="btn btn-danger disconnect-btn">@Localizer["Disconnect"]</button>
                }
                else
                {
                    <button id="connect-discord-btn" class="btn btn-success connect-btn">@Localizer["Connect"]</button>
                }
            </div>
        </div>
    </div>

    <div class="cmsue-row-divider last-divider">
        <div class="or-spacer-header">
            <div class="mask"></div>
        </div>
    </div>

    <div class="cmsue-row cmsue-footer-btn-block">
        <div id="change-password-btn" class="waves-effect"> <i class="fas fa-key"></i> @Localizer["ChangePassword"]</div>
    </div>

    <div class="promt-container">
        <div class="change-user-name-promt custom-promt custom-fancybox-content unselectable"
             style="background: url(@Url.Content("img/PromtsBackgrounds/promt-background1.png"))left center no-repeat; background-size: 220%;">
            <div class="promt-inner-container">
                <div class="custom-promt-header">
                    <div class="custom-promt-icon">
                        <i class="fas fa-signature"></i>
                    </div>
                    <div class="custom-promt-h-title">@Localizer["NameChanging"]</div>
                    <i class="custom-promt-close-btn fas fa-times"></i>
                </div>

                <div class="custom-promt-body">
                    <div id="i-g-1" class="md-form fixed-width-input">
                        <i class="fas fa-signature input-prefix"></i>
                        <input type="text" id="new-name" class="form-control cinput" autocomplete="off">
                        <label for="new-name">@Localizer["EnterNewName"]</label>
                    </div>
                </div>

                <div class="custom-promt-footer">
                    <button data-href="@Url.Action("ChangeUserName")" class="btn connect-btn waves-effect waves-light custom-promt-btn confirm-name-change">Ok</button>
                    <button id="promt-cancel" class="btn disconnect-btn waves-effect waves-light custom-promt-btn">@Localizer["Cancel"]</button>
                </div>
            </div>
        </div>
    </div>

    <div class="promt-container">
        <div class="change-email-promt custom-promt custom-fancybox-content unselectable"
             style="background: url(@Url.Content("img/PromtsBackgrounds/promt-background2.jpg")) left center no-repeat; background-size: 120%;">
            <div class="promt-inner-container">
                <div class="custom-promt-header">
                    <div class="custom-promt-icon">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div class="custom-promt-h-title">@Localizer["EmailChanging"]</div>
                    <i class="custom-promt-close-btn fas fa-times"></i>
                </div>

                <div class="custom-promt-body">
                    <div id="i-g-1" class="md-form fixed-width-input">
                        <i class="fas fa-envelope input-prefix"></i>
                        <input type="text" id="new-email" class="form-control cinput" autocomplete="off">
                        <label for="new-email">@Localizer["EnterNewEmail"]</label>
                    </div>
                </div>

                <div class="custom-promt-footer">
                    <button data-href="@Url.Action("ChangeDefaultEmail")" class="btn connect-btn waves-effect waves-light custom-promt-btn confirm-email-change">Ok</button>
                    <button id="promt-cancel" class="btn disconnect-btn waves-effect waves-light custom-promt-btn">@Localizer["Cancel"]</button>
                </div>
            </div>
        </div>
    </div>

    <div class="promt-container">
        <div class="change-password-promt custom-promt custom-fancybox-content unselectable"
             style="background: url(@Url.Content("img/PromtsBackgrounds/promt-background3.jpg")) no-repeat center center; background-size: 135%;">
            <div class="promt-inner-container">
                <div class="custom-promt-header">
                    <div class="custom-promt-icon">
                        <i class="fas fa-key"></i>
                    </div>
                    <div class="custom-promt-h-title">@Localizer["PasswordChanging"]</div>
                    <i class="custom-promt-close-btn fas fa-times"></i>
                </div>

                <div class="custom-promt-body">
                    <div id="i-g-1" class="md-form fixed-width-input">
                        <i class="fas fa-lock input-prefix"></i>
                        <input type="password" id="new-password" class="form-control cinput" autocomplete="off">
                        <label for="new-password">@Localizer["EnterNewPassword"]</label>
                    </div>

                    <div id="i-g-1" class="md-form fixed-width-input">
                        <i class="fas fa-lock input-prefix"></i>
                        <input type="password" id="confirm-password" class="form-control cinput" autocomplete="off">
                        <label for="confirm-password">@Localizer["ConfirmNewPassword"]</label>
                    </div>
                </div>

                <div class="custom-promt-footer">
                    <button data-href="@Url.Action("ChangePassword")" class="btn connect-btn waves-effect waves-light custom-promt-btn confirm-password-change">Ok</button>
                    <button id="promt-cancel" class="btn disconnect-btn waves-effect waves-light custom-promt-btn">@Localizer["Cancel"]</button>
                </div>
            </div>
        </div>
    </div>

    <template id="user-editor-help-data"
              data-userid-was-copied-text="@Localizer["UserIdHasBeenCopied"]"
              data-user-name-was-changed-text="@Localizer["UsernameWasChanged"]"
              data-email-was-changed-text="@Localizer["EmailWasChanged"]"
              data-password-was-changed-text="@Localizer["PasswordWasChanged"]"
              data-user-name-must-be-more-then-text="@Localizer["UsernameMustBeLongerThan"]"
              data-password-must-be-more-then-text="@Localizer["PasswordMustBeLongerThan"]"
              data-passwords-do-not-match-text="@Localizer["PasswordMismatch"]"
              data-character-text="@Localizer["Characters"]"
              data-google-was-disconnected-text="@Localizer["GoogleWasDisconnected"]"
              data-invalid-email-text="@Localizer["InvalidEmail"]"
              data-please-waut-text="@Localizer["PleaseWait"]"
              data-email-was-send-text="@Localizer["EmailWasSend"]"

              data-invalid-file-format-text="@Localizer["InvalidFileFormat"]"
              data-profile-picture-has-been-changed-text="@Localizer["ProfilePictureHasBeenChanged"]"
              
              data-min-user-name-length="@Settings.Value.EditCmsUserSettings.MinUsernameLength"
              data-min-password-length="@Settings.Value.EditCmsUserSettings.MinPasswordLength"
              data-email-validation-regex="@Settings.Value.EditCmsUserSettings.EmailValidationRegex">
    </template>
</div>