﻿
@using DataAccessLayerAbstraction.MarketData.Mapping.CmsUserClasses
@model LoLBoostMarketCMS.Models.UserProfile.CmsUserProfileModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/dist/css/cms-user-profile.min.css">
<script src="~/dist/js/cms-user-profile.min.js"></script>

<link rel="stylesheet" href="~/libs/croppie/croppie.css">
<script src="~/libs/croppie/croppie.min.js"></script>

<div class="page-content-container">
    <div class="page-content-left-side">
        @await Html.PartialAsync("EditCmsUserProfile", Model?.CmsUser)
    </div>

    @if (Model?.CmsUser?.CmsUserType == CmsUserType.Booster)
    {
        <div class="page-sides-divider"></div>

        <div class="page-content-right-side">
            @await Html.PartialAsync("EditBoosterProfile", Model?.BoosterProfile)
        </div>
    }

</div>
