﻿@using LoLBoostMarketCMS.Models.UserProfile
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@model LoLBoostMarketCMS.Models.UserProfile.VerifyEmailByTokenState 

@{
    ViewData["Title"] = "VerifyEmailResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/dist/css/veiry-email-result-page.min.css">
<script src="~/dist/js/veiry-email-result-page.min.js"></script>

<body>

    <div class="page-content-container">
        <!-- Card -->
        <div class="card card-image">
            <!-- Content -->
            <div class="text-white text-center d-flex align-items-center py-5 px-4">
                <div>
                    @if (Model == VerifyEmailByTokenState.Verified)
                    {
                        <h5 class="green-text">
                            <i class="fas fa-check"></i>
                            @Localizer["YouEmailWasConfirmedSuccessfully"]
                        </h5>
                    }
                    else
                    {
                        <h5 class="red-text">
                            <i class="fas fa-times"></i>
                            @Localizer["ConfirmationError"]
                        </h5>
                    }

                    @if (Model == VerifyEmailByTokenState.TokenNotFount)
                    {
                <h3 class="card-title pt-2"><strong> @Localizer["CauseOfError"] : </strong>@Localizer["TokenNotFound"].</h3>
                        <p>
                           
                            <div class="help">
                                @Localizer["HelpText"]
                            </div>
                        </p>
                    }

                    <div id="to-home-btn" data-auth-url="@Url.Action("Index")" class="btn btn-deep-orange waves-effect waves-light"><i class="fas fa-backward left"></i>@Localizer["ToHome"]</div>
                </div>
            </div>

        </div>
    </div>
<!-- Card -->
</body>