﻿@using LoLBoostMarketCMS.Classes.Services.GoogleAuth
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@model (string errMessage, LoLBoostMarketCMS.Classes.Services.GoogleAuth.InnerAuthExceptionType errType)


@{
    ViewData["Title"] = "GoogleAuthProblem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/dist/css/google-auth-err.min.css">
<script src="~/dist/js/google-auth-err.min.js"></script>

<body>
    <!-- Card -->
    <div class="card card-image">

        <!-- Content -->
        <div class="text-white text-center d-flex align-items-center py-5 px-4">
            <div>
                <h5 class="orange-text">
                    @if (Model.errType == InnerAuthExceptionType.UnknownGoogleProblem)
                    {
                        <i class="fas fa-bug"></i>
                    }
                    else
                    {
                        <i class="fas fa-exclamation-circle"></i>
                    }
                    @if (Model.errType == InnerAuthExceptionType.EmailNotConfirmed || Model.errType == InnerAuthExceptionType.UnknownProblem)
                    {
                        @Localizer["AuthErr"]
                    }
                    else
                    {
                        @Localizer["GoogleAuthErr"]
                    }
                </h5>
                <h3 class="card-title pt-2"><strong>@Localizer["СauseOfError"]</strong></h3>
                <p>
                    @Model.errMessage
                </p>
                <div id="to-auth-btn" data-auth-url="@Url.Action("Index")" class="btn btn-deep-orange waves-effect waves-light"><i class="fas fa-backward left"></i> @Localizer["BackToAuth"]</div>
            </div>
        </div>

    </div>
    <!-- Card -->
</body>
