﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<link rel="stylesheet" href="~/dist/css/auth.min.css">
<script src="~/dist/js/auth.min.js"></script>

<body>
    <div id="login-form" class="form-dark">
        <div id="owelay">
            <div class="spinner-grow text-white" role="status">
                <span class="sr-only">@Localizer["Loading..."]</span>
            </div>
        </div>

        <div class="card card-image">
            <div class="text-white rgba-stylish-strong py-5 px-5 z-depth-2">

                <!--Header-->
                <div class="text-center unselectable ">
                    <h3 class="white-text mb-5 mt-4 font-weight-bold"><strong>BOOST MARKET</strong> <span class="green-text font-weight-bold"><strong> CMS</strong></span></h3>
                </div>

                <!--Body-->
                <div id="i-g-1" class="md-form">
                    <i class="fas fa-user input-prefix"></i>
                    <input type="text" id="login" class="form-control cinput">
                    <label for="login">@Localizer["UserIdOrEmail"]</label>
                </div>

                <div id="i-g-2" class="md-form">
                    <i class="fas fa-lock input-prefix"></i>
                    <input type="password" id="password" class="form-control cinput">
                    <label for="password">@Localizer["Password"]</label>
                </div>

                <div class="md-form mb-5">
                    <div class="form-check">
                        <input id="rememberUser" type="checkbox" class="input-checkbox">
                        <label for="rememberUser" class="form-check-label white-text rememberUserCheck">
                            @Localizer["RememberThisComputer"]<span class="green-text font-weight-bold">  @Localizer["For30Days"]</span>
                        </label>
                    </div>
                </div>

                <!--Grid row-->
                <div class="row d-flex align-items-center">
                    <!--Grid column-->

                    <div class="text-center mb-3 col-md-12">
                        <button id="signIn" type="button" class="btn btn-warning btn-block btn-rounded z-depth-1 waves-effect waves-light"><i class="fas fa-sign-in-alt"></i>  @Localizer["SignIn"]</button>
                        <button id="googleIn" type="button" class="btn btn-danger btn-block btn-rounded z-depth-1 waves-effect waves-light"><i class="fab fa-google"></i>  @Localizer["SignInWithGoogle"]</button>
                    </div>

                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </div>
        </div>
    </div>

    <template id="hidden-data"
              sign-in-url="@Url.Action("SignIn", "Authorization")"
              google-in-url="@Url.Action("GoogleSignIn","Authorization")"
              please-wait-text="@Localizer["PleaseWait..."]"
              authorized-text="@Localizer["Authorized!"]"
              correct-login-text="@Localizer["EnterCorrectLogin."]"
              correct-password-text="@Localizer["EnterCorrectPassword."]">
    </template>

</body>

