﻿#global-settings-btn {
    position: fixed;
    right: 0;
    top: 0;
    cursor: pointer;
}

#global-settings-btn:hover #global-settings-layout {
    opacity: 1;
}

#global-settings-icon {
    text-shadow: #000 0px 0 4px;
    color: #fea31f;
    font-size: 30px;
    position: absolute;
    right: 12px;
    top: 12px;
}

#global-settings-layout {
    opacity: 0;
    font-size: 12px;
    padding: 12px 50px 12px 7px;
    font-weight: bold;
    color: white;
    background-color: rgba(62, 69, 81, 0.7) !important;
    transition: all 1s;
}

#settings-window {
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.79);
    min-width: 900px;
    min-width: 900px;
    min-height: 550px;
    background: url("../../../img/settings-background.jpeg") no-repeat center center fixed;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.stw-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.66);
    padding-top: 4px;
    padding-bottom: 4px;
}

#stw-header-icon {
    color: #00aeff;
    margin-right: 10px;
    padding-bottom: 1px;
}

.stw-title {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

#stw-close-btn {
    cursor: pointer;
    text-shadow: #000 0px 0 4px;
    color: #00aeff;
    position: absolute;
    right: 10px;
    font-size: 18px;
}

#stw-close-btn:hover {
    color: #eaeaea;
    text-shadow: #00aeff 1px 0 10px;
}

#setting-window-container {
    display: none;
}

.stw-body {
    display: flex;
    width: 100%;
    height: 518px;
    margin-top: -20px;
}

#stw-tab-control {
    width: 26%;
    padding-top: 15px;
    background: rgba(0, 0, 0, 0.43);
}
.stw-tab-item {
    cursor: pointer;
    display: flex;
    justify-content: start;
    align-items: center;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
}

.stw-tab-item:hover {
    background: rgba(0, 0, 0, 0.42);
}
.stw-tab-item.active:hover {
    background: none;
}

.stw-tab-item.active {
    box-shadow: 0px 8px 9px -10px rgba(0,174,255,1);
    cursor: default;
}

.stw-tab-item.active i {
    color: #00aeff;
}
.stw-tab-item.active .swt-tab-item-text {
    color: #00aeff;
}


.swt-tab-item-icon {
    font-size: 30px;
    margin-right: 10px;
}
.swt-tab-item-text {
    font-weight: bold;
}

.or-spacer {
    width: 100%;
    position: relative;
}

.or-spacer .mask {
    overflow: hidden;
    height: 20px;
}

.or-spacer .mask:after {
    content: "";
    display: block;
    margin: -25px auto 0;
    width: 100%;
    height: 25px;
    border-radius: 125px / 12px;
    box-shadow: 0 0 13px #00aeff;
}

.or-spacer-vertical {
    display: inline-block;
    position: relative;
}

.or-spacer-vertical .mask {
    overflow: hidden;
    width: 20px;
}

.or-spacer-vertical.left .mask:after {
    content: "";
    display: block;
    margin-left: -20px;
    width: 20px;
    height: 100%;
    border-radius: 12px / 125px;
    box-shadow: 0 0 15px black;
}

#stw-tab-content {
    width: 74%;
    margin-left: -20px;
}

.stw-tab-content {
    height: 100%;
}

@media(max-width: 450px) {
    #settings-window{
        width: 100%;
        min-width: unset;
        min-height: unset;
        height: 100%;
    }
}