﻿#save-language-btn {
    min-width: 150px;
    background: linear-gradient(40deg, #0e141f, #01334a) !important;
}

#save-language-btn:hover {
    box-shadow: 0px 0px 10px -2px rgb(0, 174, 255);
}

#language-settings-footer {
    display: flex;
    justify-content: center;
}

#language-settings-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.languages-part {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.language-settings-footer {
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}
.language-flag {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}
.language-flag img {
    height: 100%;
    width: 100%;
}

.language-item {
    border: 1px solid transparent;
    box-sizing: border-box;
    margin-left: 8px;
    margin-right: 8px;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.66);
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    box-shadow: 0 0 9px 0 rgba(0,0,0,.6);
    display: flex;
    color: #fff;
    font-weight: bold;
    align-items: center;
    padding: 5px 15px 5px 10px;
    transition: all 0.5s;
}

.language-item:hover {
    cursor: pointer;
    background-color: rgba(0, 174, 255, 0.26);
    box-shadow: 0px 0px 10px -2px rgb(0, 174, 255);
}


.language-item.selected:hover {
    background-color: rgba(0, 0, 0, 0.66);
}

#languages {
    max-width: 80%;
    display: flex;
}

.language-item.selected{
    box-shadow: 0px 0px 10px -2px rgb(0, 174, 255);
    border: 1px solid #0192d6;
}