﻿@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<div class="main-menu-item @(Context.Request.Path == Url.Action("Index","UserProfile")? "active" : string.Empty)"
     data-url-action="@Url.Action("Index","UserProfile")">
    <div class="main-menu-item-icon">
        <i class="fas fa-user"></i>
    </div>

    <div>
        @Localizer["MyProfile"]
    </div>
</div>